body {
    background-color: black;
    font-size: larger;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content */
    margin-top: 50px; /* Add space from the top */
}

.cal-button {
    font-size: 26px;
    font-family: Arial;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
}

.css-result {
    font-size: 36px;
    font-family: Arial;
    color: white;
    border: none;
}

.operator {
    font-size: 24px;
    font-family: Arial;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: none;
    background-color: rgb(0, 229, 251);
    color: rgb(21, 6, 6);
}

.clear-button {
    font-size: 18px;
    font-family: Arial;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgb(51, 51, 51);
    color: rgb(0, 229, 251);
    border: none;
    outline-offset: 2px;
    outline: 2px solid red;
}

.clear-button:hover {
    font-size: 18px;
    font-family: Arial;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgb(51, 51, 51);
    color: rgb(0, 229, 251);
    border: none;
    outline-offset: 1px;
    outline: 5px solid red;
}

.title {
    font-family: Apple Chancery;
    color: rgb(0, 229, 251);
}
